{% extends "layout.html" %}

{% block title%}
Add New Questions/Topics
{% endblock %}
{% block main %}
<h1>Add New Questions/Topics</h1>
    <form action='/quiz_add_questions' method='POST'>
        
        <label>
            Topic
        </label>
        <br>
        <select name="topic" required onchange="showNewTopic(this)">
            <option value="" disabled hidden>Select a Topic</option>
            <option value="NEW_TOPIC">Create a New Topic</option>
            {% for topic in topics %}
                {% if topic == new_topic %}
                    <option value="{{topic}}" selected>{{topic | upper}}</option>
                {% else %}
                    <option value="{{topic}}">{{topic | upper}}</option>
                {% endif %}
            {% endfor %}
        </select>
        
        <div id="newtopic" style="display: none;">
            <br>
            <label>Create a New Topic</label>
            <br>
            <input type="text" id="add_new_topic" name="add_new_topic">
        </div>
        <div id = "new_qna">
            <br>
            <label>
                New Question
            </label>
            <br>
            <input type="text" name="new_question" placeholder ="New Question" required>
            <br><br>
            <label>
                New Answer
            </label>
            <br>
            <input type="text" name = "new_answer" placeholder="New Answer" required>
            
        </div>
        <br>
 

        <input type="submit" name="add_new_questions" value="Create Question" class="btn btn-primary mb-2">
    </form>
{%endblock%}
{% block center_aligned %} 
    {% if question_added == True %}
        <span style="color: green">
        <br>
        Successfully Added a Question!<br><br>
        Topic: {{new_topic | upper}}<br>
        Question: {{new_question}}<br>
        Answer: {{new_answer}}
        </span>
    {% elif question_added == False %}
        <span style="color: red">
        <br>
        Adding Question Failed!<br><br>
        
        You tried to add:<br>
        Topic: {{new_topic | upper}}<br>
        Question: {{new_question}}<br>
        Answer: {{new_answer}}<br><br>

        But you previously had the same question:<br>
        Previous Topic: {{previous_topic | upper}}<br>
        Previous Question: {{previous_question}}<br>
        Previous Answer: {{previous_answer}}<br><br>

        </span>
    {% endif %}
    {%if session.questions == False %}
        <p>Before we get started, you'll need to type some questions and answers for the random quiz generator to work! </p>
    {% endif %}
    {%if session.questions == True and session.settings_set == False %}
        <p>If you're done here, head over to Quiz Settings to set the number of questions and choices! </p>
    {% endif %}
    {%if session.questions == True and session.settings_set == True %}
        <p>If you're done here, feel free to head over to Quiz Settings to set the number of questions and choices, or just generate a quiz using your last-known settings by clicking Generate Quiz!</p>
    {% endif %}
    <script>
    function showNewTopic(that) {
        if (that.value == "NEW_TOPIC") {
            document.getElementById("newtopic").style.display="block";
        } else {
            document.getElementById("newtopic").style.display="none";
        }
    }
    var i = 0;
    var original = document.getElementById("new_qna")

    </script>
{% endblock %}