{% extends "layout.html" %}
    {% block title %}
    Random Quiz Generator
    {% endblock %}
    
{% block main %}
<h1>Random Quiz Generator</h1>
    <form action='/quiz' method='GET'>
        <ol>
            {% for mapped_question in mapped_questions %}
                {% set outer_loop = loop %}
                <li>{{mapped_question['question']}}</li>

                {% for choice in mapped_question %}
                    {% if choice != "question" %}
                        {% if choice == chosen_answers_list[outer_loop.index0] and choice == correct_answers[outer_loop.index0].correct_a %}   
                            <span style="color:green; font-weight: bold"> 
                        {% elif choice != chosen_answers_list[outer_loop.index0] and choice == correct_answers[outer_loop.index0].correct_a %}   
                            <span style="color:green; font-weight: bold; font-style:italic">

                        {% elif choice == chosen_answers_list[outer_loop.index0] and choice != correct_answers[outer_loop.index0].correct_a %}    
                            <span style="color:red"> 
                        {% endif %}
                        
                        {{choice}}: {{mapped_question[choice][0]}}
                        </span>
                        <br>
                    {% endif %}
                {% endfor %}
                {% if correct_or_wrong_list[loop.index0] == "Wrong!" or correct_or_wrong_list[loop.index0] == "No answer provided!" %}
                    <span style="color:red; text-align:center">
                        <span style ="font-weight:bold">{{correct_or_wrong_list[loop.index0]}}</span><br>
                        
                        Your Answer: {{chosen_answers_list[loop.index0]}}<br>
                        
                        Correct Answer: {{correct_answers[loop.index0].correct_a}}<br><br>
                
                
                     </span>
                {% else %}
                    <span style="color:green; text-align:center">
                        <span style ="font-weight:bold">{{correct_or_wrong_list[loop.index0]}}</span><br>
                        Your Answer: {{chosen_answers_list[loop.index0]}}<br><br>
                        </span>
                {% endif %}
                
            {% endfor %}
            {% if percentage_score >= 50 %}
                <span style = "color: green; font-weight: bold; text-align:center">
            {% else %}
                <span style = "color: red; font-weight: bold; text-align:center">
            {% endif %}
            Score: {{no_of_correct_answers}} / {{no_of_questions}} 
            <br>
            Percentage: {{ percentage_score }} %
            <br><br>
            </span>
            <input type="submit" name="quiz_regenerate_button" value="New Quiz" class="btn btn-primary mb-2">
        </ol>
    </form>
        
{% endblock %}
{% block center_aligned%}

{% if (percentage_score >= 80) %}
<p>Well done! But don't rest on your laurels!</p>
{% elif (percentage_score >= 50) and (percentage_score <= 80) %}
<p>Nice! But there's always room for improvement!</p>
{% elif percentage_score < 50 %}
<p>Keep going! If you're having a hard time, it only gets easier!</p>
{% endif %}
{%endblock%}