<!DOCTYPE html>
<html>

<head>
    <title>Wyz's Quiz App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Random Quiz Generator</h1>
    <form action='/quiz' method='POST'>
        <ol>
            {% for mapped_question in mapped_questions %}
                <li>{{mapped_question['question']}}</li>

                {% for choice in mapped_question %}
                    {% if choice != "question" %}
                        <input type="radio" name="{{mapped_question['question']}}" value = "{{choice}}">

                            {{choice}}: {{mapped_question[choice].answer}}
                            <br>
                        
                    {% endif %}
                {% endfor %}
                
            {% endfor %}
            <br>
            <input type="submit" name="quiz_submit_button" value="Submit" class="btn btn-primary mb-2">
        </ol>
    </form>
    <form action='/quiz' method='GET'>
        <input type="submit" name="generate_new_quiz_button" value="New Quiz">
    </form>
    <br><br>
    <form action='/quiz_settings' method='GET'>
        <input type="submit" name="new_settings" value="Quiz Settings">
    </form>
    <br><br>
    <form action='/quiz_add_questions' method='GET'>
        <input type="submit" name="add_questions" value="Add Questions">
    </form>
</body>

</html>