<!DOCTYPE html>
<html>

<head>
    <title>Wyz's Quiz App</title>
</head>
<body>
<h1>Quiz goes here</h1>
    <form action='/quiz' method='POST'>
        <ol>
            {% for mapped_question in mapped_questions %}
                <li>Question: {{mapped_question['question']}}</li>

                {% for choice in mapped_question %}
                    {% if choice != "question" %}
                        <input type="radio" name="{{mapped_question['question']}}" value = "{{choice}}">

                            {{choice}}: {{mapped_question[choice].answer}}
                            <br>
                        
                    {% endif %}
                {% endfor %}
                
            {% endfor %}
            <br>
            <input type="submit" name="quiz_submit_button" value="submit">
        </ol>
    </form>
</body>

</html>